{{ extends "/default.html" }}

{{ define "body"}}
<section class="content-header">
    <h1>
    {{.Title}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">文章</li>
    </ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">文章列表</h3>
			  <span class="pull-right"><a href="/admin/export/" style="cursor:pointer;"><i class="fa fa-mail-forward">导出</i></a></span>
            </div>
			{{if eq .User.Role true }}
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-bordered">
                <tbody><tr>
                  <th>标题</th>
                  <th>摘要</th>
				  <th>作者</th>
                  <th>标签</th>
                  <th>时间</th>
 				  <th>操作</th>
                </tr>
				{{range .Posts}}
                <tr id="dingo-post-{{ .Id }}">
                  <td>{{ .Title }}</td>
				  {{if eq .Abstract ""}}
                  <td>{{ .Excerpt }}</td>
				  {{else}}
				  <td>{{.Abstract}}</td>
				  {{end}}
				  <th>{{ .Author.Name }}</th>
				  <td>
				  {{ range .Tags }}
					<span class="badge bg-red">{{ .Name }}</span>
				  {{end}}
				  </td>
                  <td>
                      <div>{{DateFormat .CreatedAt "%Y-%m-%d"}}</div>
                  </td>
				<td>
                <div class="f-right">
                  {{ if .IsPublished }}
                  <a href="{{ .Url }}">
                    <i class="fa fa-eye">查看</i> 
                  </a>
					 |
                  {{ else }}
                  <a href="#" disabled>
                    <i class="fa fa-font">草稿</i> 
                  </a>
					 |
                  {{ end }}
                  <a href="/admin/editor/{{ .Id }}/" data-upgraded=",MaterialButton,MaterialRipple">
                    <i class="fa fa-edit">修改</i> 
                  </a>
					 |
                  <a rel="{{ .Id }}" class="delete-post" style="cursor:pointer;">
                    <i class="fa fa-close">删除</i>
                  </a>
                </div>
			   </td>
                </tr>
				{{end}}
              </tbody>
			</table>
            </div>
			{{else}}
			<div class="box-body table-responsive no-padding">
              <table class="table table-bordered">
                <tbody><tr>
                  <th>标题</th>
				  <th>摘要</th>
                  <th>标签</th>
                  <th>时间</th>
 				  <th>操作</th>
                </tr>
				{{range .Posts}}
                <tr id="dingo-post-{{ .Id }}">
                  <td>{{ .Title }}</td>
				  {{if eq .Abstract ""}}
                  <td>{{ .Excerpt }}</td>
				  {{else}}
				  <td>{{.Abstract}}</td>
				  {{end}}
				  <td>
				  {{ range .Tags }}
					<span class="badge bg-red">{{ .Name }}</span>
				  {{end}}
				  </td>
                  <td>
                      <div>{{DateFormat .CreatedAt "%Y-%m-%d"}}</div>
                  </td>
				<td>
                <div class="f-right">
                  {{ if .IsPublished }}
                  <a href="{{ .Url }}">
                    <i class="fa fa-eye">查看</i> 
                  </a>
					 |
                  {{ else }}
                  <a href="#" disabled>
                    <i class="fa fa-font">草稿</i> 
                  </a>
					 |
                  {{ end }}
                  <a href="/admin/editor/{{ .Id }}/" data-upgraded=",MaterialButton,MaterialRipple">
                    <i class="fa fa-edit">修改</i> 
                  </a>
					 |
                  <a rel="{{ .Id }}" class="delete-post" style="cursor:pointer;">
                    <i class="fa fa-close">删除</i>
                  </a>
                </div>
			   </td>
                </tr>
				{{end}}
              </tbody>
			</table>
            </div>
			{{end}}
            <!-- /.box-body -->
            <div class="box-footer clearfix">
			  <div class="pull-left" style="margin:5px 0 0 5px;">
				  <a href="/admin/editor/post">
				    <i class="fa fa-plus"> 添加</i>
				  </a>
			  </div>
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
				{{range .Pager.PageSlice}}
                <li>
                	<a href="/admin/posts/?page={{.}}">{{.}}</a>
			    </li>
               {{end}}
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
		</div>
	</div>
</section>
{{end}}
